<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
  </mat-card-title>
  <mat-card-content  [formGroup]="contactForm">
    <div fxLayout class="searchber">

      <div class="price" fxLayout="row">
        <span class="symbole" style="font-size: x-large;padding-top: 20px;">₪</span>
        <mat-form-field>
          <input matInput type="number" placeholder="ממחיר" formControlName="Price_min" step="10">
        </mat-form-field>
        <mat-icon class="symbole">keyboard_backspace</mat-icon>
        <mat-form-field>
          <input matInput type="number" placeholder="עד מחיר" formControlName="Price_max" step="10">
        </mat-form-field>
      </div>

      <div class="rooms" fxLayout="row">
        <mat-icon class="symbole">meeting_room</mat-icon>
        <mat-form-field>
          <input matInput type="number" formControlName="Room_number_min" placeholder="מחדרים" matTooltip="מס' חדרים מינימלי" step="10">
        </mat-form-field>
        <mat-icon class="symbole">keyboard_backspace</mat-icon>
        <mat-form-field>
          <input matInput type="number" formControlName="Room_number_max" placeholder="עד חדרים" matTooltip="מס' חדרים מקסימלי" step="10">
        </mat-form-field>
      </div>

      <div class="area" fxLayout="row">
        <mat-icon class="symbole">home</mat-icon>
        <mat-form-field>
          <mat-select formControlName="city" placeholder="עיר" matTooltip="בקרוב בעוד ערים" formControlName="city">
            <mat-option *ngFor="let state of citys" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="Neighborhood" placeholder="שכונה" (selectionChange)="onChange($event.value)" multiple>
            <mat-option *ngFor="let state of neighborhoods" [value]="objectKeys(state)[1]">
              <ng-container *ngIf="objectKeys(state)[1]!='_id'">
                {{objectKeys(state)[1]}}
              </ng-container>
              <ng-container *ngIf="objectKeys(state)[0]!='_id'">
                {{objectKeys(state)[0]}}
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="type" fxLayout="row">
        <mat-form-field>
          <mat-select formControlName="Type" placeholder="סוג">
            <mat-option *ngFor="let state of aprt_type" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div fxLayout="row" *ngIf="more_options">
        <mat-form-field fxFlex class="date_picker">
          <input matInput [matDatepicker]="picker1" placeholder="מ ת. כניסה" formControlName="enter_date_min">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker1></mat-datepicker>
        </mat-form-field>
        <mat-icon class="symbole">keyboard_backspace</mat-icon>
        <mat-form-field fxFlex class="date_picker">
          <input matInput [matDatepicker]="picker2" placeholder="מ ת. כניסה" formControlName="enter_date_max">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" style="padding: 35px;" *ngIf="more_options">
        <mat-radio-group formControlName="Ground">
          <mat-radio-button style="padding-left: 5px;" value="false">קומות</mat-radio-button>
          <mat-radio-button style="padding-left: 5px;" value="true">קרקע</mat-radio-button>
          <mat-radio-button style="padding-left: 5px;" value="">גמיש</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="price" fxLayout="row" *ngIf="more_options">
        <mat-form-field>
          <input matInput type="number" formControlName="Size_min" placeholder="מגודל" step="5">
        </mat-form-field>
        <mat-icon class="symbole">keyboard_backspace</mat-icon>
        <mat-form-field>
          <input matInput type="number" formControlName="Size_max" placeholder="עד גודל" step="5">
        </mat-form-field>
      </div>

      <div fxLayout="row" *ngIf="more_options">
        <section class="example-section" fxFlex>
          <mat-checkbox class="example-margin" matTooltip="בקרוב" formControlName="alivator">מעלית</mat-checkbox>
        </section>
        <section class="example-section" fxFlex >
          <mat-checkbox class="example-margin" matTooltip="בקרוב" formControlName="animals">בעלי חיים</mat-checkbox>
        </section>
      </div>

      <div class="more" fxLayout="column">
        <button mat-button style="padding: 20px;outline: none;" (click)="more()">
{{show}}           אפשרויות מתקדמות
        </button>
      </div>
      <div class="search">
        <button mat-button style="padding: 20px; outline: none;" (click)="getAlerts()">
          <mat-icon>notifications_active</mat-icon>
        </button>
      </div>

      <div class="search">
        <button mat-button style="padding: 20px; outline: none;" (click)="search()" HREF="#codeword">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content>

    <div class="mat-elevation-z8" NAME="codeword">
      <div *ngFor="let element of table_data">
        <app-apartment-info [aprtData]="element"> </app-apartment-info>
      </div>
    </div>
  </mat-card-content>

</mat-card>
