<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    הכנס את הפרטים ונמצא לך את הדירה המתאימה ביותר
  </mat-card-title>

  <mat-card-content>
    <form>
      <table>
        <tr>
          <td style="text-align:right" colspan="2">
            <span>
            ?באיזה אזור
            </span>
          </td>
        </tr>
        <tr>
          <td>
          <mat-form-field>
            <mat-select placeholder="באר שבע" [(value)]="selected">
              <mat-option>-- Select Any --</mat-option>
              <mat-option value="1">C#Corner</mat-option>
              <mat-option value="2">C#Corner</mat-option>
              <mat-option value="3">C#Corner</mat-option>
            </mat-select>
          </mat-form-field>
          </td>
          <td>
          <mat-form-field>
            <mat-select placeholder="שכונה" [(value)]="selected">
              <mat-option>-- Select Any --</mat-option>
              <mat-option value="1">C#Corner</mat-option>
              <mat-option value="2">C#Corner</mat-option>
              <mat-option value="3">C#Corner</mat-option>
            </mat-select>
          </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <textarea matInput placeholder="רחוב" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td style="text-align:right" colspan="2">
            <span>
            קצת פרטים
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input matInput [matDatepicker]="picker" placeholder="זמן כניסה לדירה">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:right">
            <span>סוג דירה</span><br><br>
            <mat-radio-group >
              <mat-radio-button value="1" >קומות</mat-radio-button>
              <mat-radio-button value="2">קרקע</mat-radio-button>
              <mat-radio-button value="2">לא משנה</mat-radio-button>
            </mat-radio-group>
          </td>

        </tr>
        <tr>

          <td>
            <br>
            <input matInput type="number" placeholder="מספר חדרים">
          </td>
          <td>
            <br>
            <input matInput type="number" placeholder="מחיר מקסימלי">
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:right">
            <br>
            <span>
              ?איך נשמור על קשר
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-checkbox></mat-checkbox>
            <mat-form-field class="demo-full-width2">
               <input matInput placeholder="Email">
             </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">

            <mat-checkbox></mat-checkbox>

            <mat-form-field class="demo-full-width2">
               <input matInput placeholder="טלפון">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-checkbox>התראות באתר</mat-checkbox>
          </td>
        </tr>

        <tr>
          <td colspan="2" class="content-center">
            <button mat-raised-button >יאללה חפש</button>
            <button mat-raised-button >נקה</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

</mat-card>
