@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.demo-full-width {
  width: 100%;
  padding: 10px;
}

mat-card {
  max-width: 850px;
  margin: 2em auto;
  text-align: center;
}

button{
  background: rgba(64, 126, 181, 0.8);
  color: white;
}

.example-section2{
  max-width: 56px;
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  padding: 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  max-width: 174px;
  padding: 16px;
}

.example-margin {
  margin: 10px;
}

table {
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
