<div style="text-align: center">
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-icon>{{data.type}}</mat-icon>
  <br>
  <span *ngIf="data.type === 'done_outline' " >
    עבור
    <button routerLink="/alerts"  routerLinkActive="class1"  class="toolbar_button_small" (click)="closeDialog()" mat-button>
    לדף ההתראות
    </button>
    בכדי לראות את ההתראות השמורות שלך
  </span>
  <br>
{{data.message}}
</mat-dialog-content>
<mat-dialog-actions style="width: 50%; margin: auto;">
  <button mat-raised-button (click)="closeDialog()">אישור</button>
</mat-dialog-actions>
</div>
