<ng-template #tipContent>שדה זה לא ניתן לעריכה, ניתן למחוק התראה זו או להפוך אותה ללא זמינה</ng-template>
<mat-card [formGroup]="contactForm">
  <mat-card-header>
    <mat-card-title>{{data['date']|date: "dd/MM/yyyy"}}</mat-card-title>
  </mat-card-header>
  <div class="price" fxLayout="row">
    <span class="symbole" style="font-size: x-large;">₪</span>
    <mat-form-field>
      <input matInput type="number" [ngbTooltip]="tipContent" container="body" placeholder="ממחיר" formControlName="Price_min" step="10">
    </mat-form-field>
    <mat-icon class="symbole">keyboard_backspace</mat-icon>
    <mat-form-field>
      <input matInput type="number" [ngbTooltip]="tipContent" container="body" placeholder="עד מחיר" formControlName="Price_max" step="10">
    </mat-form-field>
  </div>

  <div class="rooms" fxLayout="row">
    <mat-icon class="symbole">meeting_room</mat-icon>
    <mat-form-field>
      <input matInput type="number" formControlName="Room_number_min" placeholder="חדרים" [ngbTooltip]="tipContent" container="body" step="10">
    </mat-form-field>
    <mat-icon class="symbole">keyboard_backspace</mat-icon>
    <mat-form-field>
      <input matInput type="number" formControlName="Room_number_max" placeholder="חדרים" [ngbTooltip]="tipContent" container="body" step="10">
    </mat-form-field>
  </div>

  <div class="type" fxLayout="row">
    <mat-form-field>
      <mat-select formControlName="Type" placeholder="סוג" [ngbTooltip]="tipContent" container="body">
        <mat-option [ngbTooltip]="tipContent" container="body" *ngFor="let state of aprt_type" [value]="state">
          {{tran[state]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="area" fxLayout="row">
    <mat-icon class="symbole">home</mat-icon>
    <mat-form-field style="margin-left: 15px;">
      <mat-select formControlName="city" placeholder="עיר" [ngbTooltip]="tipContent" container="body" formControlName="city">
        <mat-option *ngFor="let state of citys" [value]="state">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-select formControlName="Neighborhood" placeholder="שכונה" multiple>
        <mat-option [ngbTooltip]="tipContent" container="body" *ngFor="let state of neighborhoods" [value]="objectKeys(state)[1]" disabled>
          <ng-container *ngIf="objectKeys(state)[1]!='_id'">
            {{objectKeys(state)[1]}}
          </ng-container>
          <ng-container *ngIf="objectKeys(state)[0]!='_id'">
            {{objectKeys(state)[0]}}
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div fxLayout="row" *ngIf="more_options">
    <mat-form-field fxFlex class="date_picker">
      <input matInput [ngbTooltip]="tipContent" container="body" [matDatepicker]="picker1" placeholder="מ ת.כניסה" formControlName="enter_date_min">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker1></mat-datepicker>
    </mat-form-field>
    <mat-icon class="symbole">keyboard_backspace</mat-icon>
    <mat-form-field fxFlex class="date_picker">
      <input matInput [matDatepicker]="picker2" placeholder="עד ת.כניסה" formControlName="enter_date_max">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div fxLayout="row" style="padding: 35px;" *ngIf="more_options">
    <mat-radio-group formControlName="Ground">
      <mat-radio-button [ngbTooltip]="tipContent" container="body" style="padding-left: 5px;" value="false">קומות</mat-radio-button>
      <mat-radio-button [ngbTooltip]="tipContent" container="body" style="padding-left: 5px;" value="true">קרקע</mat-radio-button>
      <mat-radio-button [ngbTooltip]="tipContent" container="body" style="padding-left: 5px;" value="">גמיש</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="price" fxLayout="row" *ngIf="more_options">
    <mat-form-field>
      <input matInput [ngbTooltip]="tipContent" container="body" type="number" formControlName="Size_min" placeholder="מגודל" step="5">
    </mat-form-field>
    <mat-icon class="symbole">keyboard_backspace</mat-icon>
    <mat-form-field>
      <input matInput [ngbTooltip]="tipContent" container="body" type="number" formControlName="Size_max" placeholder="עד גודל" step="5">
    </mat-form-field>
  </div>

  <div fxLayout="row" *ngIf="more_options">
    <section class="example-section" fxFlex>
      <mat-checkbox [ngbTooltip]="tipContent" container="body" class="example-margin" formControlName="alivator">מעלית</mat-checkbox>
    </section>
    <section class="example-section" fxFlex >
      <mat-checkbox [ngbTooltip]="tipContent" container="body" class="example-margin" formControlName="animals">בעלי חיים</mat-checkbox>
    </section>
  </div>

  <mat-card-content>
    <div class="more"  fxLayout="row" fxLayout.lt-md="column">
      <button mat-button class="mat-primary" style="padding: 20px; width: 100% !important; max-width: 300px; border-radius: 25px;" (click)="more()">
        {{show}}           אפשרויות מתקדמות
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions style="display: inline-flex;">


    <div class="search">
      <button mat-button style="padding: 20px" (click)="delete_alert()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>


    <div class="search">
      <button mat-button style="padding: 20px" (click)="active_alert()">
        <mat-icon *ngIf="data.Active">sync</mat-icon>

        <ng-container *ngIf="!data.Active">
          <mat-icon>sync_disabled</mat-icon>
          לא
        </ng-container>


        זמין
      </button>
    </div>
  </mat-card-actions>
</mat-card>
