<mat-card>
  Shanty פועלת במשק הישראלי וכבר בדרכה למשק הבינלאומי.
  החברה השיקה פלטפורמה מהפכנית שמתמחה במציאת דירות להשכרה או קנייה ע"פ מאפיינים אותם הלקוח בוחר מראש. כאשר המערכת מזהה דירה העונה על צרכי המשתמש היא מספקת לו התראה בזמן אמת עם דיווח עבור הדירה הרלוונטית.
  הפלטפורמה בעלת מאגר נכסים מעודכן מכלל הרשתות החברתיות,מאגרי נכסים ציבוריים ושיתופי פעולה פרטיים בתחום.
  שוכרים,בעלי נכסים,משקיעים ומתווכים נהנים מהפלטפורמה אשר מספקת מידע ייחודי בצורה הפשוטה, היעילה והמהירה ביותר - כך אנו מקדמים את לקוחותינו להשלמת העסקה המתאימה עבורם.
  החברה כרגע הושקה בעיר באר שבע ובמהרה תפתח את שלל האפשרויות המדהימות הטמונות בה.
</mat-card>
