<mat-card class="hovercard" style="/*max-height: 800px;*/" [class.hovercard]="mouseOvered || ((aprtData.mark || aprtId))"
          (mouseover)="mouseOvered=true"
          (mouseout)="mouseOvered=false">
  <mat-card-title style="font-size: 15px; text-align: left;">
    <div style="display: inline-block; width: 60%; padding-right: 20px; text-align: right;">
      <ng-template #tipContent>בקרוב תדעו פרטים נוספים על הדירה, האיזור,האוכלוסיה ועוד</ng-template>
      <button class="info-aprt" mat-button  placement="left" [ngbTooltip]="tipContent" style="max-width: 24px !important;padding: 0; min-width: 0 !important;">
        <mat-icon>info</mat-icon>
      </button>
      <ng-template #tipContent2>בקרוב תדעו מה הקהילה חושבת על האיזור,הבניין הבית,השותפים ועוד דברים שיעזרו לכם בהחלטתכם</ng-template>
      <button mat-button placement="left" [ngbTooltip]="tipContent2" style="max-width: 24px !important;margin-right: 15px;padding: 0; min-width: 0 !important;">
        <mat-icon >help</mat-icon>
      </button>
    </div>
    <div style="display: inline-block; width: 40%;">
      {{data['Publish_date']|date: "dd/MM/yyyy HH:mm"}}
    </div>
  </mat-card-title>
  <mat-card-content>
      <div class="input-row"  fxLayout="row" fxLayout.lt-md="column" dir="rtl">

        <div fxFlex="45%" (click)="show_info()">
          <h3 style="color: #4760e2;" mat-line *ngIf="data['Price']; else no_price">
            {{data['Price']}} ש"ח
          </h3>
          <ng-template #no_price>
          <h3 mat-line style="display: none">
            מחיר לא קיים
          </h3>
          </ng-template>
          <!--h4 mat-line *ngIf="data['Room_number']; else no_rooms"-->
          <h4 mat-line *ngIf="data['Room_number']" style="color: #755bb7;">
            {{data['Room_number']}}
            חדרים
          </h4>

          <ng-template #no_rooms2>
          <h4 mat-line style="color: #755bb7;">
            כמות חדרים לא קיימת
          </h4>
          </ng-template>

          <h4 mat-line *ngIf="data['Ground']">
            דירת קרקע
          </h4>

          <div *ngFor="let key of objectKeys(data)">
            <div *ngIf="data[key] != null && key != 'photos' && translate[key] != null">
              <span *ngIf="key == 'enter_date'" class="data-span" style="width: 30vh !important;">&#9733; {{translate[key]}} : {{data[key] == "מיידית" ? "מיידית" :  data[key] | date:"dd/MM/yyyy"}}</span>
              <span *ngIf="['_id','Contact','content','Room_number','Price','enter_date','Phone','Ground','Publish_date','Type','Size'].indexOf(key)==-1" class="data-span">&#9733; {{translate[key]}} : {{data[key]}}</span>
              <span *ngIf="key == 'Type' && data[key] != 'Rent'" class="data-span">&#9733; {{translate[key]}} : {{translate[data[key]]}}</span>
              <span *ngIf="key == 'Size'" class="data-span">  &#9733; {{translate[key]}} : {{data[key]}} מ"ר</span>
            </div>
          </div>
          <textarea matInput *ngIf="aprtData.mark" rows="7" disabled>{{data['content']}}</textarea>
        </div>

        <div fxFlex="55%">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>

    <!--mat-action-row fxLayout="row" fxLayout.lt-md="column"-->
    <mat-action-row fxLayout="row wrap" fxlayoutgap="20px grid">

      <span class="action-data" fxflex="50">
        <mat-icon>person</mat-icon>
        {{data['Contact']}}

      </span>

      <button *ngIf="data['Phone']" mat-button class="action-data mat-primary" fxflex="50" (click)= callPhone()>
        <mat-icon>phone</mat-icon>
        {{data['Phone']}}
      </button>


      <button *ngIf="data.Messanger_link" mat-button class="action-data mat-primary" fxflex="50" (click)= openMassage()>
        <mat-icon>chat</mat-icon>
        התחל שיחה
      </button>

      <button mat-button class="action-data mat-primary" fxflex="50" (click)="copyText()">
        <mat-icon>link</mat-icon>
        העתק לינק
      </button>

      <button mat-button class="action-data mat-primary" fxflex="50" (click)="openWhatsapp()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#66d467" d="M16.75,13.96C17,14.09 17.16,14.16 17.21,14.26C17.27,14.37 17.25,14.87 17,15.44C16.8,16 15.76,16.54 15.3,16.56C14.84,16.58 14.83,16.92 12.34,15.83C9.85,14.74 8.35,12.08 8.23,11.91C8.11,11.74 7.27,10.53 7.31,9.3C7.36,8.08 8,7.5 8.26,7.26C8.5,7 8.77,6.97 8.94,7H9.41C9.56,7 9.77,6.94 9.96,7.45L10.65,9.32C10.71,9.45 10.75,9.6 10.66,9.76L10.39,10.17L10,10.59C9.88,10.71 9.74,10.84 9.88,11.09C10,11.35 10.5,12.18 11.2,12.87C12.11,13.75 12.91,14.04 13.15,14.17C13.39,14.31 13.54,14.29 13.69,14.13L14.5,13.19C14.69,12.94 14.85,13 15.08,13.08L16.75,13.96M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C10.03,22 8.2,21.43 6.65,20.45L2,22L3.55,17.35C2.57,15.8 2,13.97 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.72 4.54,15.31 5.46,16.61L4.5,19.5L7.39,18.54C8.69,19.46 10.28,20 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
        </svg>
        שתף בWhatsapp
      </button>

      <button mat-button class="action-data mat-primary" fxflex="50" (click)="openFacebook()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#3B5998" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
        </svg>
        שתף בFacebook
      </button>

    </mat-action-row>
  </mat-card-content>

</mat-card>
