<!---->
<mat-toolbar class="toolbar" *ngIf="user" dir="ltr" layout-align="center center">
  <mat-toolbar-row class="toolbar-row">

    <span routerLink="/" class="logo" fxHide.lt-md="true"> <img src="/assets/withoutsentance.png" class="logo"> </span>

    <span *ngIf="staticDays != 'Expired'" class="pa">     {{ staticDays == 1 ? 'נותר יום אחד לחבילתך' : 'נותרו '+staticDays+' ימים לחבילתך'}}</span>

    <span *ngIf="user && staticDays == 'Expired'" class="pa"> לא נותרו ימים לחבילתך,
      <a style="color: red" routerLink="/packages">
      עדכן אותה כעת
      </a>
    </span>

    <!--span *ngIf="user && (days < 0 || days === undefined)" class="pa"> לא קיימת חבילה </span-->

    <span class="example-spacer"></span>

    <div fxShow="true" class="mat-toolbar-tools" fxHide.lt-md="true" >

      <button  (click)="signOut()"  routerLink="/login" class="toolbar_button" mat-button>
        צא<i class="material-icons">exit_to_app</i>
        <!--span class="glyphicon glyphicon-log-out" style="width: 24px; height: 24px; margin: 5px;"></span-->
      </button>

      <button routerLink="/about"     routerLinkActive="class1"         class="toolbar_button" mat-button>
        אודות <i class="material-icons">info</i>
      </button>

      <button routerLink="/packages"     routerLinkActive="class1"           class="toolbar_button" mat-button>
        חבילות  <i class="material-icons">credit_card</i>
      </button>

      <button routerLink="/find_me_apartment"  routerLinkActive="class1"  class="toolbar_button" mat-button>
        מצא דירה   <i class="material-icons" style="margin-right: 3%;">home</i>
      </button>

      <button routerLink="/alerts"  routerLinkActive="class1"  class="toolbar_button" mat-button>
        ההתראות שלי   <i class="material-icons" style="margin-right: 3%;">notifications_active</i>
      </button>


    </div>

    <div fxShow="true" class="mat-toolbar-tools" fxHide.gt-sm="true">

      <button mat-button (click)="drawer.toggle()" style="display: none">
        <i class="material-icons">more_vert</i>
      </button>

      <button (click)="signOut()"  routerLink="/login"   routerLinkActive="class1"  class="toolbar_button_small" mat-button>
        <!--span class="glyphicon glyphicon-log-out"></span -->
        <i class="material-icons" style="margin-right: 3%;">exit_to_app</i>
        <br>
        צא

      </button>

      <button routerLink="/about"     routerLinkActive="class1"  class="toolbar_button_small" mat-button>
        <i class="material-icons" style="margin-right: 3%;">info</i>
        <br>
        אודות

      </button>

      <button routerLink="/packages"     routerLinkActive="class1"  class="toolbar_button_small" mat-button>
        <i class="material-icons" style="margin-right: 3%;">credit_card</i>
        <br>
        חבילות

      </button>

      <button routerLink="/find_me_apartment"  routerLinkActive="class1"  class="toolbar_button_small" mat-button>
        <i class="material-icons">home</i>
        <br>
        מצא דירה

      </button>

      <button routerLink="/alerts"  routerLinkActive="class1"  class="toolbar_button_small" mat-button>
        <i class="material-icons">notifications_active</i>
        <br>
        התראות

      </button>

    </div>
  </mat-toolbar-row>

</mat-toolbar>

<span *ngIf="user && staticDays" class="pa2">    {{ staticDays == 1 ? 'נותר יום אחד לחבילתך' : 'נותרו '+staticDays+' ימים לחבילך'}}</span>

<span *ngIf="user && staticDays === 0" class="pa2">    נותרו <a style="color: red" routerLink="/packages"> 0 </a> ימים לחבילתך </span>

<!--span *ngIf="user && (days < 0 || days === undefined)" class="pa2"> לא קיימת חבילה </span-->

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="over" align="end">
    <div fxLayout="column" (click)="drawer.toggle()">

      <button  (click)="signOut()"  routerLink="/login" class="toolbar_button" mat-button>
        צא<!--i class="material-icons">highlight_off</i-->
        <span class="glyphicon glyphicon-log-out" style="width: 24px; height: 24px; margin: 5px;"></span>
      </button>

      <button routerLink="/about"     routerLinkActive="class1"         class="toolbar_button" mat-button>
        אודות <i class="material-icons">info</i>
      </button>

      <button routerLink="/packages"     routerLinkActive="class1"           class="toolbar_button" mat-button>
        חבילות  <i class="material-icons">credit_card</i>
      </button>

      <button routerLink="/find_me_apartment"  routerLinkActive="class1"  class="toolbar_button" mat-button>
        מצא דירה   <i class="material-icons" style="margin-right: 3%;">home</i>
      </button>

      <button routerLink="/alerts"  routerLinkActive="class1"  class="toolbar_button" mat-button>
        ההתראות שלי   <i class="material-icons" style="margin-right: 3%;">notifications_active</i>
      </button>

      <!--button routerLink="/search_apartment"  routerLinkActive="class1"   class="toolbar_button" mat-button>
        <i class="material-icons">search</i>חפש
      </button-->

    </div>

  </mat-drawer>
<!--
  <router-outlet></router-outlet>
-->
</mat-drawer-container>


