<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    דירות שמתאימות בדיוק לך
  </mat-card-title>

  <mat-card-content>
    <form fxLayout="column" [formGroup]="contactForm">

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field>
          <mat-select placeholder="עיר">
            <mat-option *ngFor="let state of streets" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="שכונה">
            <mat-option *ngFor="let state of streets" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="demo-full-width">
          <mat-select placeholder="רחוב" [formControl]="toppings" multiple>
            <mat-option *ngFor="let state of streets" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="demo-full-width">
          <input matInput [matDatepicker]="picker" placeholder="זמן כניסה לדירה">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>

      </div>


      <div class="input-row"  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">


        <mat-form-field fxFlex>
          <mat-select placeholder="סוג דירה">
            <mat-option *ngFor="let t of aprt_types" [value]="t">
              {{t}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <section class="example-section" fxFlex>
          <mat-checkbox class="example-margin"  value="before">עם בעלי חיים</mat-checkbox>
        </section>

        <mat-form-field fxFlex>
          <input matInput type="number" placeholder="מספר חדרים">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput type="number" placeholder="מחיר מקסימלי">
        </mat-form-field>

      </div>

    </form>

  </mat-card-content>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </mat-card-content>

</mat-card>
