mat-card {
  /*max-width: 1200px;
  margin: 2em auto;
  text-align: right;
*/
}

.understood{
  padding: 10px 20px 10px 30px;
  background: #b0c3de;
  border-radius: 10px;
  color: white;
}

.container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
  text-align: center;
}

@media(max-width: 650px) {
  app-alerts-row{
    width: 100%;
    margin-right: 10px;
  }
  .understood{
    font-size: 3vw;
  }
}
